@font-face
{
	font-family: 'a';
	src:url('font/Roboto/Roboto-Light.ttf');
}
@font-face
{
	font-family: 'b';
	src:url('font/Caveat/Caveat-Regular.ttf');
}
@font-face
{
	font-family: 'c';
	src:url('font/Indie_Flower/IndieFlower-Regular.ttf');
}